
useDynLib(mdir, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

# Export statements
export(calcAllocProb)
export(callMDI)
export(callMDIWritingToFile)
export(callMixtureModel)
export(findOrder)
export(adaptLadder)
export(fitMDI)
export(generateInitialLabels)
export(generateInitialSemiSupervisedLabels)
export(generateInitialUnsupervisedLabels)
export(getLikelihood)
export(plotLikelihoods)
export(ptDiagnostics)
export(ptLadder)
export(pointwiseLogLik)
export(predictMDI)
export(predictFromMultipleChains)
export(prepDataForggHeatmap)
export(prepSimilarityMatricesForGGplot)
export(processMCMCChain)
export(processMCMCChains)
export(readMCMCsamples)
export(runMCMCChains)
export(runMCMCChainsSavingToFile)
export(tuneLadder)

# Import statements
## Rcpp
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,sourceCpp)


## ggplot2
importFrom(ggplot2, aes)
importFrom(ggplot2, facet_wrap)
importFrom(ggplot2, geom_line)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, label_both)

## stats
importFrom(stats, dist)
importFrom(stats, hclust)
importFrom(stats, median)
importFrom(stats, rnorm)
importFrom(stats, sd)
importFrom(stats, rbeta)
importFrom(stats, setNames)

## stringr
importFrom(stringr,str_extract)

## tidyr
importFrom(tidyr, any_of)
importFrom(tidyr, pivot_longer)

## salso for unsupervised point estimate
importFrom(salso, salso)

useDynLib(mdir)

## S3 methods
S3method(print, mdir_convergence)
S3method(format, mdir_convergence)
S3method(print, mdir_fit)
S3method(summary, mdir_fit)
S3method(print, summary.mdir_fit)
S3method(print, mdir_fit_list)
S3method(summary, mdir_fit_list)
S3method(print, summary.mdir_fit_list)
S3method("[", mdir_fit_list)
S3method(print, mdir_prior)
S3method(print, mdir_density_prior)
S3method(print, mdir_pt_diagnostics)

## rlang pronoun used in ggplot2 aesthetics
importFrom(rlang, .data)
